
# Created by https://www.gitignore.io/api/flask
# Edit at https://www.gitignore.io/?templates=flask

### Pycharm ###
.idea

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/flask
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/app.cpython-37.pyc
__pycache__/security.cpython-37.pyc
__pycache__/user.cpython-37.pyc
venv/Lib/site-packages/__pycache__/six.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/compat.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/date.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/duration.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/interval.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/resolution.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/time.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/timezone.cpython-37.pyc
venv/Lib/site-packages/aniso8601/__pycache__/utcoffset.cpython-37.pyc
venv/Lib/site-packages/aniso8601/builders/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/aniso8601/builders/__pycache__/python.cpython-37.pyc
venv/Lib/site-packages/aniso8601/builders/tests/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/aniso8601/builders/tests/__pycache__/test_init.cpython-37.pyc
venv/Lib/site-packages/aniso8601/builders/tests/__pycache__/test_python.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/compat.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_date.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_duration.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_init.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_interval.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_time.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_timezone.cpython-37.pyc
venv/Lib/site-packages/aniso8601/tests/__pycache__/test_utcoffset.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_bashcomplete.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_termui_impl.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_textwrap.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_unicodefun.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/_winconsole.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/core.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/decorators.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/formatting.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/globals.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/parser.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/termui.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/testing.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/types.cpython-37.pyc
venv/Lib/site-packages/click/__pycache__/utils.cpython-37.pyc
venv/Lib/site-packages/Flask-1.1.1.dist-info/RECORD
venv/Lib/site-packages/flask/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/__main__.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/app.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/blueprints.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/cli.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/config.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/ctx.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/debughelpers.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/globals.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/helpers.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/logging.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/sessions.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/signals.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/templating.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/testing.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/views.cpython-37.pyc
venv/Lib/site-packages/flask/__pycache__/wrappers.cpython-37.pyc
venv/Lib/site-packages/flask/json/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask/json/__pycache__/tag.cpython-37.pyc
venv/Lib/site-packages/flask_jwt/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask_restful/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask_restful/__pycache__/__version__.cpython-37.pyc
venv/Lib/site-packages/flask_restful/__pycache__/fields.cpython-37.pyc
venv/Lib/site-packages/flask_restful/__pycache__/inputs.cpython-37.pyc
venv/Lib/site-packages/flask_restful/__pycache__/reqparse.cpython-37.pyc
venv/Lib/site-packages/flask_restful/representations/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask_restful/representations/__pycache__/json.cpython-37.pyc
venv/Lib/site-packages/flask_restful/utils/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/flask_restful/utils/__pycache__/cors.cpython-37.pyc
venv/Lib/site-packages/flask_restful/utils/__pycache__/crypto.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/_json.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/encoding.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/exc.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/jws.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/serializer.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/signer.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/timed.cpython-37.pyc
venv/Lib/site-packages/itsdangerous/__pycache__/url_safe.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/_identifier.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/asyncfilters.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/asyncsupport.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/bccache.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/compiler.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/constants.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/debug.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/defaults.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/environment.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/ext.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/filters.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/idtracking.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/lexer.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/loaders.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/meta.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/nativetypes.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/nodes.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/optimizer.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/parser.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/runtime.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/sandbox.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/tests.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/utils.cpython-37.pyc
venv/Lib/site-packages/jinja2/__pycache__/visitor.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/__main__.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/algorithms.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/api_jws.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/api_jwt.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/compat.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/jwt/__pycache__/utils.cpython-37.pyc
venv/Lib/site-packages/jwt/contrib/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/jwt/contrib/algorithms/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/jwt/contrib/algorithms/__pycache__/py_ecdsa.cpython-37.pyc
venv/Lib/site-packages/jwt/contrib/algorithms/__pycache__/pycrypto.cpython-37.pyc
venv/Lib/site-packages/markupsafe/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/markupsafe/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/markupsafe/__pycache__/_constants.cpython-37.pyc
venv/Lib/site-packages/markupsafe/__pycache__/_native.cpython-37.pyc
venv/Lib/site-packages/PyJWT-1.4.2.dist-info/RECORD
venv/Lib/site-packages/pytz/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/pytz/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/pytz/__pycache__/lazy.cpython-37.pyc
venv/Lib/site-packages/pytz/__pycache__/reference.cpython-37.pyc
venv/Lib/site-packages/pytz/__pycache__/tzfile.cpython-37.pyc
venv/Lib/site-packages/pytz/__pycache__/tzinfo.cpython-37.pyc
venv/Lib/site-packages/setuptools-40.8.0-py3.7.egg
venv/Lib/site-packages/werkzeug/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/_compat.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/_internal.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/_reloader.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/datastructures.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/exceptions.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/filesystem.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/formparser.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/http.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/local.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/posixemulation.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/routing.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/security.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/serving.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/test.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/testapp.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/urls.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/useragents.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/utils.cpython-37.pyc
venv/Lib/site-packages/werkzeug/__pycache__/wsgi.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/atom.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/cache.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/fixers.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/iterio.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/lint.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/profiler.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/securecookie.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/sessions.cpython-37.pyc
venv/Lib/site-packages/werkzeug/contrib/__pycache__/wrappers.cpython-37.pyc
venv/Lib/site-packages/werkzeug/debug/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/werkzeug/debug/__pycache__/console.cpython-37.pyc
venv/Lib/site-packages/werkzeug/debug/__pycache__/repr.cpython-37.pyc
venv/Lib/site-packages/werkzeug/debug/__pycache__/tbtools.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/dispatcher.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/http_proxy.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/lint.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/profiler.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/proxy_fix.cpython-37.pyc
venv/Lib/site-packages/werkzeug/middleware/__pycache__/shared_data.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/__init__.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/accept.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/auth.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/base_request.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/base_response.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/common_descriptors.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/etag.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/json.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/request.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/response.cpython-37.pyc
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/user_agent.cpython-37.pyc
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/easy_install-3.7-script.py
venv/Scripts/easy_install-script.py
venv/Scripts/flask.exe
venv/Scripts/jwt.exe
venv/Scripts/pip-script.py
venv/Scripts/pip3-script.py
venv/Scripts/pip3.7-script.py
